#trendingIcon{
    margin-right: 20px;
    margin-left: 2px;
    color: rgb(200, 195, 226);
}

#trendingIcon:hover {
    transform: scale(1.2); 
}

#scheduleText{
    color: rgb(200, 195, 226);
}

#favoriteIcon{
    margin-right: 20px;
    margin-left: 2px;
    color: rgb(200, 195, 226);
}

#favoriteIcon:hover {
    transform: scale(1.2); 
}

#rosterText{
    color: rgb(200, 195, 226);
}

#profileIcon{
    margin-right: 10px;
    margin-left: 2px;
    color: rgb(200, 195, 226);
}

#profileIcon:hover {
    transform: scale(1.2); 
}

#idText{
    color: rgb(200, 195, 226);
}
#menuIcon{
  font-size:30px;
  margin-left:0;
}