.rosterText{
    font-weight: bold;
    font-size: medium;
}

.teamNameText{
    padding-top:10px;
    font-weight: bold;
    font-size: medium;
    margin-left: 60px;
}

.rosterText:hover{
    color: rgb(124, 124, 124);
    cursor: pointer;
}

li{
    font-size: medium
}

.teamsDiv{
    margin-top: 30px;
    border: 1px solid black;
    border-radius:5px;
    background-color:azure;
    width: 23%;
    display: inline-block;
    margin-left: 15px;
    margin-right: 5px;
    box-shadow: 5px 5px 1px grey;
    background-color: rgb(227, 227, 253);
}

.teamsDiv:hover{
    background-color: rgb(194, 194, 248);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}