#entireLogin{
    padding: 0px;
    align-content: center;
    margin: 0px;
    height: 100%;
    width: 100%;
  }
  h2, h3, p, input{
      text-align:center;
  }
  .form-group{
      width:50%;
      margin-left: 25%;
      text-align:center;
  }
 .Login{
    border: 1px solid black;
    border-radius:5px;
     background-color:azure;
     margin-left:33%;
     margin-right:33%;
     box-shadow: 5px 5px 1px grey;
 }

 #loginModal, #didntWorkModal{
     padding:100px;
 }
 
 .btn{display:block;
     margin:auto;
     margin-bottom:5%;
    max-width:300px;}

 