#entireLogin{
    padding: 0px;
    align-content: center;
    margin: 0px;
    height: 100%;
    width: 100%;
  }
  h2, h3, p{
      text-align:center;
  }
  .form-group{
      width:50%;
      margin-left: 25%;
      text-align:center;
  }
 .Login{
     background-color:green;
     margin-left:33%;
     margin-right:33%;
 }

 #loginModal{
     padding:100px;
 }